{% extends 'trabalho/base.html' %}
{% block title %}Homepage de Segurança{% endblock %}
{% block content %}
<h2>Bem vindo(a) ao site criado para a disciplina INF1407.</h2></br>
<p>A ideia do site é criar um ambiente para gerência de gastos pessoais.</p>
<p>Nele, um usuário pode criar, atualizar, remover e consultar itens que constituíram seu gasto pessoal mensal.</p>
<p>Portanto, para usar o site, você precisa estar cadastrado e logado.</p>
<p>Para realizar o cadastro, clique <a href="{% url 'registro:sec-registro' %}">aqui</a>.</p>
<p>Para efetuar o login, clique <a href="{% url 'registro:sec-login' %}?next={% url 'registro:sec-paginaSecreta' %}">aqui</a>.</p>
{% endblock %}
