@charset "UTF-8"; 
/*
Para incluir essa folha de estilo, utilize:
    <link rel="stylesheet" href="{% static 'registro/css/estilo.css' %}">
Não se esqueça de incluir a tag{% load static %}
*/
/* Ajuda de formulário */
.helptext {
  font-size: 13px;
}
/* Tira o padding das listas no help text */
.helptext ul {
  padding-left: 10px;
}
/* Lista de erros no formulário */
.errorlist {
  color: #ff0000;
  list-style-type: none;
} 
/* somente th dentro de uma tag da classe th*/
.formulario th {
  text-align: right;
  vertical-align: text-top;
}
